<h1>alpha</h1>
<ul>
  <%= form_with url: "/login", method: :post do |form| %>
    <p>Email Adress</p>
    <%= form.email_field :email, autofocus: true, :required => 'required' %>
    <%= form.submit "Continue" %>
  <% end %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
</ul>
