<h1>alpha</h1>
<br>

<ul>
  <l>Welcome to</l><br>
  <l style="font-size:25px"><b>alpha service</b></l><br><br><br>

  <%= form_with url: "/login", method: :post do |form| %>
    <l>Email Adress:</l><br>
    <%= form.email_field :email, autofocus: true, :required => 'required' %>
    <% flash.each do |type, msg| %>
      <div style="color:red">
        <%= msg %>
      </div>
    <% end %>
    <br><br>
    <%= form.submit "Continue" %>
  <% end %>
</ul>
